#
# Git-ignored files
#



#
# Compilation and project files
#

# General autotools chain files
aclocal.m4
autom4te.cache/
configure
Makefile.in
Makefile
mkinstalldirs
intltool-*.in
ltmain.sh

# Bakefile related files
.bakefile_gen.state

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Python compiled files
*.pyc

# Anjuta project files
.anjuta_sym_db.db
.anjuta/

# Typical build subdirectories
Debug/
Profiling/
Optimized/
Release/

# MSVC project related files
*.ncb
*.suo
*.vcproj.*.user